* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ##fffbf6;
}

.top {
    width: 100%;
    height: 100vh;
}

.top h1 {
    margin: 3vw;
    padding: 2vw;
    position: relative;
    width: 35vw;
    color: #cb2e27;
    font-size: 6vw;
    border: solid 3px #cb2e27;
    border-radius: 10px;
    text-align: center;
    top: 45vh;
}

.h2 {
    margin-top: -15vh;
}

.top a {
    display: block;
    border: solid 3px #cb2e27;
    border-radius: 20px;
    background-color: #cb2e27;
    width: 15vw;
    text-align: center;
    margin-left: 80vw;
    margin-bottom: 2vw;
    padding: 1vw;
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
}

.top a:hover {
    color: #cb2e27;
    background-color: #fff;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    margin: 3vw;
    width: 25vw;
    font-size: 2vw;
    background-color: #fff1e0;
    border-radius: 5vw;
    text-align: center;
}

.botan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: #cb2e27;
    margin-top: -20vh;
    font-size: 1vw;
    border: solid 5px #cb2e27;
    border-radius: 50%;
    position: fixed;
    margin-left: 90vw;
    text-align: center;
}

.recipe h2{
    
}